@model ProjetoAcademia.Models.Ficha

@{
    ViewData["Title"] = ">Adicionar Ficha";
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="collection with-header c1">
                <h5 class="collection-header c1">Adicionar Ficha</h5>

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="red-text darken-3 center"></div>

                    <div class="collection-item c1">
                        <div class="row">
                            <div class="input-field">
                                <input asp-for="Nome" class="validate" id="Nome" />
                                <label for="Nome">Nome</label>
                                <span asp-validation-for="Nome" class="red-text darken-3"></span>
                            </div>
                        </div>

                        <input asp-for="AlunoId" type="hidden" />

                        <div class="collection-item right">
                            <input type="submit" value="Salvar" class="btn btn-small teal darken-3" />
                            <a asp-action="Index" asp-route-AlunoId="@Model.AlunoId" class="btn btn-small grey darken-1">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
